*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# Intellij
*.iml
*.ipr
*.iws
.idea/
out/


# Mac
.DS_Store

# Maven
log/
target/

# Gradle
.gradle/
build/

generated/
*.log
._apache-cassandra-2.2.5

cassandra-executor/apache-cassandra-2.2.5/
cassandra-executor/volume/
